/* Fuente base y estilos generales */
body {
    font-family: Arial, sans-serif;
}

/* Estilos para la línea del tiempo en la sección Experiencia */
.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline:before {
    content: '';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 18px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1px;
}

.timeline > li {
    margin: 20px 0;
    padding-left: 40px;
    position: relative;
}

.timeline > li:before {
    content: '';
    background: #fff;
    border: 3px solid #22c0e8;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
  }
  
  .social-icons a {
    transition: transform 0.3s ease;
  }